body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: green;
}
.head {
    margin-bottom: 40px;
    width: 550px;
    font-size: 25px;
    font-family: 'press start 2p', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: solid 1px;
    padding: 5px;
    border-radius: 10px;
}

.loader {
    text-align:center;
    width:400px;
}

.status::after{
    font-size: 20px;
    content:"Initializing . . .";
    animation:textChange 7s linear infinite;
}

.bar {
    width: 100%;
    height: 4px;
    background: #003311;
    margin-top: 15px;
    overflow:hidden;
    position:relative;
}

.bar::before {
    content:"";
    position:absolute;
    inset:0;
    background:#00ff66;
    animation:load 6s linear infinite;
}

@keyframes textChange{
  0%{content:"Initializing . . .";}
  25%{content:"Connecting . . .";}
  50%{content:"Encrypting . . .";}
  75%{content:"Access Granted";}
  100%{content:"Access Granted";}
}

@keyframes load{
  0%{width:0%;}
  100%{width:100%;}
}